
<h1 class="text-center">Newtech</h1>
<div class="card text-center">
    <div class="card-header">
      <h2>Author:<span>UWAMAHORO Donat</span></h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">What does Newtech do?</h5>
      <p class="card-text text-justify"> NewTech website  was developped for learning purpose . The goals was to develop a twitter redesign.User must first login before posting his new technology. He can also follows other users and check their profiles. The project will be improved to have more features. Fell free to give us your feedback using following address: </p>
      <ul class="text-left text-muted"> 
        <li>Github:uwadonat</li>
        <li>Linkedin:uwadonat </li>
        <li>email:uwadonat@gmail.com </li>
 
      </ul> 
       
    </div>
    <div class="card-footer text-muted">
        <a href="/users" class="btn btn-primary">navigate NewTech</a>
    </div>
  </div>

