/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 footer { margin-top: 10px; }
 table, td, th { vertical-align: middle; border: none; }
 th { border-bottom: 1px solid #DDD; }
 body { margin: 10px; }

 .top-image {
   border-radius: 40%;
 }

 .profile-image {
   height: 200px;
 }

 .followee-image {
   margin-top :10px;
   margin-right: 25px;
   border-radius: 40%;
 }

 .search {
   margin-top: 20px;
   margin-left: 20px;
 }

 .logo {
   font-size : 50px;
   font-weight: bold;
   
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .color-bg {
   background-color: lightcyan;
   
 }

 .navb {
   background-color: rgb(43, 52, 78);
   
 }


 .followe_name {
   color:rgb(15, 43, 129);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 600;
   opacity: 0.7;
 }

 .followe_email {
  color:rgb(20, 21, 24);
  
  font-weight: 400;
  opacity: 0.5;
}


.followe_title {
  color:rgb(15, 43, 129);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  opacity: 0.3;
}

.current_profile {
  opacity: 0.5;
}

.lik:visited {
  background-color:rgb(42, 201, 55);
}

.login {
  margin-left: 300px;
}